.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 0 0 5rem 0;
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
}
.texto {
  color: var(--blanco);
  text-align: center;
  font-size: 2.4rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
.enlace {
  margin-top: 2rem;
  text-decoration: none;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--blanco);
  border: 2px solid var(--primary);
  padding: 1rem 5rem;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.enlace:hover {
  background-color: var(--primary);
  color: var(--blanco);
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
@media (min-width: 768px) {
  .contenido {
    grid-column: 2 / 3;
  }
}
