:root {
  --primary: #e99401;
  --black: #262626;
  --white: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}

.heading {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}
